.hidden {
  display: none;
}

#root {
  font-family: sans-serif;
  padding: 5px;
}

.state {
  width: 20vw;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  background-color: #d5ebf2;
}

.main:hover{
  background-color: #8babc2;
    transition: 0.3s ease-in;
}



.accordion {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-space-around {
  justify-content: space-around;
}

.text-align-center{
  text-align: center;
}
